@charset "UTF-8";

body
{
    width: 300px;
    height: 400px;
}
#d1
{
    width: 300px;
    height: 100px;
    background-color: red;
    float: left;
}

#d2
{
    width: 100px;
    height: 200px;
    background-color: yellow;
    float: left;
}
#d3
{
    width: 100px;
    height: 200px;
    background-color: rgb(61, 190, 61);
    float: left;
}
#d4
{
    width: 100px;
    height: 200px;
    background-color: blue;
    float: left;
}
#d5
{
    width: 300px;
    height: 100px;
    background-color: green;
    float: right;
}
