@charset "UTF-8";

body
{
    width: 1500px;
    height:800px;
    margin: 0 auto;
}

header
{
    width: 1500px;
    height:70px;
    background: red;
}
#d1
{
    width: 400px;
    margin-left: 100px;
    float: left;
}
#d2
{
    width: 200px;
    height: 50px;
    float: right;
    padding-top:20px;

}
#b1
{
    color: white;
    font-size:20px;
    margin: 0 auto;
}
#d3
{
    width:1024px;
    height:200px;
    margin: 0 auto;
    background-image: url(img/bzt.JPG);
}
#text1
{
    resize: none;
    margin-top: 165px;
    margin-left: 830px;
}
#d4
{
    width:1024px;
    height:40px;
    margin: 0 auto;
}

#d5
{
    width: 990px;
    height: 360px;
    margin: 0 auto;
}

#d6
{
    width: 320px;
    height:360px;
    float: left;
}

#p1
{
    width: 200px;
    height:10px;
    font-size:20px;
    margin-top:0 ;
}
#p2
{
    margin-top:0 ;
}
#d7
{
    width: 330px;
    height: 360px;
    margin:0;
    margin-left: 5px;
    float: left;
}
#d8
{
    width: 325px;
    height: 120;
}
#hr1
{
    width:325px;
    height: 1px;
    margin-top: 0;
    background-color: green;
}
#d9
{
    
    width: 200px ;
    height: 120;
    float: right;
    font-size:13px
}
#hr2
{
    width:325px;
    height: 1px;
    margin-top: 0;
    background-color: black;
}

#d10
{
    width: 990px;
    height: 150px;
    margin: 0 auto;
}

#d11
{
    width: 300px;
    height: 150px;
    float: left;
    margin-left: 20px;
}

#hr3
{
    width:300px;
    height: 1px;
    margin-top: 10px;
    background-color: green;
}
pre
{
    margin: 0 auto;
}
#d12
{
    width: 990px;
    height: 150px;
    float: left;
    background-color: rgb(247, 197, 59);
}